<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Language App</title>
</head>
<body>
  User Login
  <form action="/login" method="POST">
    Username:
    <input type="text" name="username"><br>
    Password:
    <input type="text" name="password"><br>
    <input type="submit" value="submit">
  </form>
    <a href="/signup">Sign Up</a>
    <% if (typeof message!= "undefined"){%>
        <h3><%=message%></h3>
      <%}%>
  </body>
